.section-profile-main {
  background-color: var(--bg-color);
  border-radius: 20px;
}
.services-main {
  background-color: var(--bg-color);
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.custom-tabs .MuiTabs-indicator {
  background-color: var(--primary-color) !important;
}

.custom-tabs .MuiTab-root {
  font-size: 14px;
  color: var(--text-color) !important;
  text-transform: none !important;
  font-weight: 500;
}

.custom-tabs .Mui-selected {
  color: var(--primary-color) !important;
  font-weight: 600 !important;
}

.custom-tabs .MuiTab-root:hover {
  color: var(--primary-color) !important;
}
