.filters {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-buttons-quiz {
  color: var(--bg-color) !important;
  transition: all 0.3s ease;
  text-transform: none !important;
}

.filter-buttons-quiz:hover {
  background-color: var(--active-button-color);
  border-color: var(--active-button-color);
}

.MuiButton-outlined.filter-buttons-quiz {
  background-color: transparent;
  color: var(--active-button-color) !important;
  border-color: var(--active-button-color);
}

.MuiButton-outlined.filter-buttons-quiz:hover {
  background-color: #f6f6f6;
  color: var(--active-button-color);
  border-color: var(--active-button-color);
}

.quiz-search-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--bg-color);
  padding: 3px 10px;
  border-radius: 10px;
  margin-right: 10px;
  width: 300px;
}

.quiz-search-box img {
  width: 20px;
}

.quiz-search-box input {
  border: none;
  padding: 10px;
  width: 90%;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.quiz-list {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Allow items to wrap to the next line */
  gap: 10px;
  width: 100%;
}
.modal-start-quiz {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-start-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.modal-start-quiz img {
  width: 50px;
  height: 50px;
}
.modal-start-quiz p {
  font-size: 16px;
  margin: 0%;
}
.modal-start-about {
  font-size: 16px;
  border-bottom: 1px solid silver;
}
